.wp-feed-app_feed {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.wp-feed-app_article {
  display: flex;
  flex-direction: column;
}

.wp-feed-app_article figure {
  margin: 0;
}

.wp-feed-app_article__title-link {
  text-decoration: none;
  color: inherit;
}

.wp-feed-app_article__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}
